
.ListItem {
    color: rgb(117, 10, 110);
    text-shadow: 1px 1px #fff;
    font-size: medium;
    margin: 8px;
    font-weight: bold;
}

.title{
    padding: 10px;
    background-color: rgb(235, 28, 201);
    width: 150px;
    border: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 20px;
    cursor: pointer;
    text-shadow: -2px -2px 1px #d99cbf;
    border-radius: 200px;
    font-size:xx-large;
   
}

.boton{
    padding: 10px;
    background-color: rgb(232, 162, 220); 
    font-weight: bold;
    border-radius: 20px;
    font-size: smaller;
}

.imagen{

height: 900px;
text-align: center;
background:#fb92f9

}

.sub{
    padding: 10px;
    background-color: rgb(178, 6, 149); 
    font-weight: bold;
    border-radius: 15px;
}

.header{
  
    width: auto;
    border: 5px;
    margin: 10px 20px;
    cursor: pointer;
    text-shadow: -2px -2px 1px #ea1587;
    border-radius: 200px;
    text-align: center;
    font-size: medium;
 
}

ul{
    list-style-type: style type;;
   width: 250px;
   margin: auto;
   right: 250px;
   left: 300px;
    
}


.navigations{
    background-color: rgb(120, 5, 101);
    width: auto;
    border: 150px;

}

.login{
    color: #ea1587;
    font-weight: bolder;
}

.log{
    color: #ea1587;
    font-weight: bolder;
}

  @media screen and (max-width: 600px) {
  }
  